<section class="about">
  <h1>Wizard of Font was built with love to help you find the right font!
      These are the people who built it.</h1>

  <article>
    <img src="/images/nick.jpg" alt="A useless dev"/>
    <div class="description">
      <h2>Nick Rutowski</h2>
      <p>
        Pretty useless. Likes buttercream frosting and making the internet. Useless.
      </p>
      <div class="social-media">
        <a href="http://codesauce.co/"><i class="fa fa-globe"></i></a>
        <a href="https://github.com/Badsauce"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/BadSauce"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </article>

  <article>
    <img src="images/lulu.jpg" alt="The real talent"/>
    <div class="description">
      <h2>Lulu Tang</h2>
      <p>
        The talent.
      </p>
      <div class="social-media">
        <a href="http://luluspice.com/"><i class="fa fa-globe"></i></a>
        <a href="https://dribbble.com/lubibul"><i class="fa fa-dribbble"></i></a>
        <a href="http://lubidul.tumblr.com/"><i class="fa fa-tumblr-square"></i></a>
      </div>
    </div>
  </article>

</section>
