<section class="fonts">
  <h1>All our reccomended fonts in one amazing list</h1>

  <article>
    <h2>Fontalicious</h2>
    <p>
      The greatest font in existence.
      It's font powers are so great it is known as the god font.
      It's great for titles and body copy, anything really.
    </p>
  </article>

  <article>
    <h2>Fontalicious</h2>
    <p>
      The greatest font in existence.
      It's font powers are so great it is known as the god font.
      It's great for titles and body copy, anything really.
    </p>
  </article>
</section>
