.about {
  margin: auto;
  margin-top: 5vh;
  color: $textColorAlt;

  article {
    margin-bottom: 5vh;
  }

  h1 {
    background-color: $navbar;
    width: 80%;
    margin: .5em auto;
    padding: .5em;
    font-size: 200%;
    border-radius: .5em;
    text-align: center;
    color: $darkAccent;
    margin-bottom: 1em;
  }

  img {
    display: block;
    border-radius: 50%;
    margin: auto;
  }

  h2 {
    text-align: center;
    font-size: 150%;
    margin-bottom: .5em;
  }

  p {
    text-align: center;
    font-size: 125%;
    padding: 0 1em;
    margin-bottom: .1em;
  }

  div {
    display: flex;
    justify-content: center;
    font-size: 200%;
  }

  a {
    padding: .1em;
  }
}
