.application {
  margin: auto;
  margin-top: 10vh;

  li {
    background-color: $navbar;
    width: 80%;
    margin: .5em auto;
    padding: .5em;
    font-size: 200%;
    border-radius: .5em;
    text-align: center;
  }

  ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  li {
    transition: background-color .5s;

    &:hover {
      background-color: $darkAccent;
    }

    @media (min-width: 960px) {
      width: 45%;
    }
  }
}
