$mustard: #DEB73D;
$icy: #73fff1;
$seaWater: #44726F;
$sunlight: #EFDA51;
$steel: #cccac6;
$overcastSky: #96d0d8;

$background: $mustard;
$navbar: $seaWater;
$darkAccent: $sunlight;
$textColor: $icy;
$textColorAlt: $seaWater;
$visitedLink: $steel;
$link: $overcastSky;
