.fonts {
  margin: auto;
  margin-top: 5vh;

  article {
    background-color: $darkAccent;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(1, 2, 3, .5);
  }

  h2 {
    display: inline-block;
    background-color: $navbar;
    font-size: 150%;
    padding: .25em;
  }

  p {
    font-size: 125%;
    padding: .1em .5em;
    color: $textColorAlt;
  }

}
