.header {
  width: 80%;
  margin: .5em auto;
  margin-bottom: 1em;
  padding: .5em;

  border-radius: .5em;

  font-size: 200%;
  text-align: center;
  
  color: $darkAccent;
  background-color: $navbar;

}
