header {
  background-color: $navbar;
  height: 15vh;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  border-bottom: 1px solid rgba(1, 2, 3, .5);

  @media (min-width: 800px) {
    justify-content: flex-start;
  }
}

.logo {
  background-color: $darkAccent;
  border-radius: 50%;
  width: 14vh;
  height: 14vh;

  @media (min-width: 800px) {
    margin: 0 1em;
  }
}

.desktop {
  display: none;

  li {
    display: inline-block;
    border: 1px solid $darkAccent;
    border-radius: .2em;
    font-size: 150%;
    padding: .5em;

    &:hover {
      background: #DEB73D;
    }
  }

  @media (min-width: 800px) {
    display: block
  }
}

.mobile {
  display: block;

  @media (min-width: 800px) {
    display: none;
  }

  button {
    width: 1.7em;
    height: 1.7em;
    border: 1px solid $darkAccent;
    border-radius: .2em;
    appearance: none;
    background: none;
    text-decoration:none;
    font-size: 300%;
    color: $darkAccent;
  }
}

.mobile-menu {
  display: none;

  li {
    color: $darkAccent;
    background-color: $navbar;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border-bottom: 1px solid rgba(1, 2, 3, .5);
  }
}
